{%extends './base_empleados.html'%}

{% block title %} index{% endblock %}


{% block body %}
<div>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputNombres" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="inputNombres">
        </div>
        <div class="col-md-6">
            <label for="inputApellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
        <div class="col-md-3">
            <label for="inputTipodocumento" class="form-label"></label>
            <select id="inputTipodocumento" class="form-select">
              <option selected>Tipo documento...</option>
              <option>CC</option>
            </select>
        </div>
        <div class="col-md-9">
            <label for="inputNumerodocumento" class="form-label">Numero de Documento</label>
            <input type="number" class="form-control" id="inputNumerodocumento">
        </div>
        <div class="col-md-4">
            <label for="inputTelefono" class="form-label">Telefono</label>
            <input type="number" class="form-control" id="inputTelefono">
        </div>
        <div class="col-md-8">
            <label for="inputCorreo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="inputCorreo" placeholder="ejemplo@ejemplo.com">
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label"></label>
            <select id="inputState" class="form-select">
              <option selected>Cargo...</option>
              <option>Administrador</option>
              <option>Entrenador</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputCodigoempleado" class="form-label">Codigo empleado</label>
            <input type="number" class="form-control" id="inputCodigoempleado">
        </div>
        <div class="col-md-12">
          <label for="inputDependencia" class="form-label">Dependencia</label>
          <input type="email" class="form-control" id="nputDependencia">
        </div>
        <div class="col-md-4">
            <span class="input-Dia">Fecha de ingreso</span>
            <input type="number" aria-label="Dia" class="form-control" placeholder="Dia">
        </div> 
        <div class="col-md-4">
            <span class="input-Mes">.</span> 
            <input type="number" aria-label="Mes" class="form-control" placeholder="Mes">
        </div>
        <div class="col-md-4">
            <span class="input-Año">.</span> 
            <input type="number" aria-label="Año" class="form-control" placeholder="Año">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Registrar empleado</button>
        </div>
      </form>
</div>
{% endblock %}