{%extends './base_empleados.html'%}

{% block title %} index{% endblock %}


{% block body %}
<div>
    <form class="row g-3" method="post">
        <div class="col-md-6">
            <label for="inputNombres" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="inputNombres" name="nombres" value="{{ request.form['nombres'] }}">
        </div>
        <div class="col-md-6">
            <label for="inputApellidos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="inputApellidos" name="apellidos" value="{{ request.form['apellidos'] }}">
        </div>
        <div class="col-md-3">
            <label for="inputTipodocumento" class="form-label"></label>
            <select id="inputTipodocumento" class="form-select" name="tipoDocumento" value="{{ request.form['tipoDocumento'] }}">
              <option selected>Tipo documento...</option>
              <option>CC</option>
            </select>
        </div>
        <div class="col-md-9">
            <label for="inputNumerodocumento" class="form-label">Numero de Documento</label>
            <input type="number" class="form-control" id="inputNumerodocumento" name="numeroDocumento" value="{{ request.form['numeroDocumento'] }}">
        </div>
        <div class="col-md-4">
            <label for="inputTelefono" class="form-label">Telefono</label>
            <input type="number" class="form-control" id="inputTelefono" name="telefono" value="{{ request.form['telefono'] }}">
        </div>
        <div class="col-md-8">
            <label for="inputCorreo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="inputCorreo" placeholder="ejemplo@ejemplo.com" name="correo" value="{{ request.form['correo'] }}">
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label"></label>
            <select id="inputState" class="form-select" name="cargo" value="{{ request.form['cargo'] }}">
              <option selected>Cargo...</option>
              <option>Administrador</option>
              <option>Entrenador</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputCodigoempleado" class="form-label">Codigo empleado</label>
            <input type="number" class="form-control" id="inputCodigoempleado" name="codigoEmpleado" value="{{ request.form['codigoEmpleado'] }}">
        </div>
        <div class="col-md-12">
          <label for="inputDependencia" class="form-label">Dependencia</label>
          <input type="text" class="form-control" id="nputDependencia" name="dependencia" value="{{ request.form['dependencia'] }}">
        </div>
        <div class="col-md-4">
            <span class="input-Dia">Fecha de ingreso</span>
            <input type="date"  class="form-control" name="fecha" value="{{ request.form['fecha'] }}">
        </div> 
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Registrar empleado</button>
        </div>
      </form>
</div>
{% endblock %}